<div class="hidden-mobile collection-hero__image collection-hero__image-almapiel ratio-container js lazyloaded" data-bgset="https://cdn.shopify.com/s/files/1/0591/9431/0837/files/banner-equipo-desktop.jpg" data-parent-fit="cover" data-image-loading-animation="" style="background-image: url(&quot;https://cdn.shopify.com/s/files/1/0591/9431/0837/files/banner-equipo-desktop.jpg&quot;);"><picture style="display: none;"><source data-srcset="https://cdn.shopify.com/s/files/1/0591/9431/0837/files/banner-equipo-desktop.jpg" sizes="1519px" srcset="https://cdn.shopify.com/s/files/1/0591/9431/0837/files/banner-equipo-desktop.jpg">
<img alt="" class=" hidden-mobilelazyautosizes lazyloaded" data-sizes="auto" sizes="1519px"></picture></div>

<div class="hidden-desktop" style="margin: -60px -30px 50px -30px;"><img src="https://cdn.shopify.com/s/files/1/0591/9431/0837/files/banner-equipo-mobile.png"></div>

<style>
  .img-card-collection {
    width: 60%;
    margin: 15% 15% 15% 20%;
}
.main-content {
  padding-top: 0px !important;
}
</style>

<div class="row" style="margin-top:30px; margin-bottom:80px;">
<ul class="grid grid--uniform grid--view-items" style="
  margin: 60px;
  margin-left: 0px;
">

<li class="grid__item grid__item--small--one-half medium-up--one-third" style="
  margin-bottom: 4em;
">
<div class="grid-view-item product-card">
  <div class="card-collection card-collection-almapiel card-collection-green" style="
    background-image: url(https://cdn.shopify.com/s/files/1/0591/9431/0837/files/card_equipo.jpg?v=1631217179);
    background-position: top;
">
    <img class="img-card-collection" src="https://cdn.shopify.com/s/files/1/0591/9431/0837/files/camila.jpg" alt="">
  </div>
</div>
<h1 style="margin: 0px;">Camila Torres</h1>
<p style="
  font-weight: 800;
  color: #00A4B2;
  font-size: 1.5em;
  margin: 0px;
">Kinesióloga</p>
<p style="
  color: #00A4B2;
  font-size: 1.5em;
  margin: 0px;
">Dermatofuncional y Depilación láser</p>
</li>

<li class="grid__item grid__item--small--one-half medium-up--one-third" style="
  margin-bottom: 4em;
">
  <div class="grid-view-item product-card">
    <div class="card-collection card-collection-almapiel card-collection-green" style="
      background-image: url(https://cdn.shopify.com/s/files/1/0591/9431/0837/files/card_equipo.jpg?v=1631217179);
      background-position: top;
  ">
      <img class="img-card-collection" src="https://cdn.shopify.com/s/files/1/0591/9431/0837/files/daniela.jpg" alt="">
    </div>
  </div>
  <h1 style="margin: 0px;">Daniela Martínez</h1>
  <p style="
    font-weight: 800;
    color: #00A4B2;
    font-size: 1.5em;
    margin: 0px;
  ">Kinesióloga</p>
  <p style="
    color: #00A4B2;
    font-size: 1.5em;
    margin: 0px;
  ">Dermatofuncional y Depilación láser</p>
  </li>

  <li class="grid__item grid__item--small--one-half medium-up--one-third" style="
    margin-bottom: 4em;
">
    <div class="grid-view-item product-card">
      <div class="card-collection card-collection-almapiel card-collection-green" style="
        background-image: url(https://cdn.shopify.com/s/files/1/0591/9431/0837/files/card_equipo.jpg?v=1631217179);
        background-position: top;
    ">
        <img class="img-card-collection" src="https://cdn.shopify.com/s/files/1/0591/9431/0837/files/paula.jpg" alt="">
      </div>
    </div>
    <h1 style="margin: 0px;">Dra. Paula Parentini</h1>
    <p style="
      font-weight: 800;
      color: #00A4B2;
      font-size: 1.5em;
      margin: 0px;
    ">Odontóloga</p>
    <p style="
      color: #00A4B2;
      font-size: 1.5em;
      margin: 0px;
    ">Estética Facial</p>
    </li>


</ul>
</div>